.container {
    background: linear-gradient(
        to right bottom,
        #353731,
        #1c1d1a
    );
    min-width: 50%;
    min-height: 70vh;
    border: .5em solid #241d19;
    box-shadow: 3em 3em 5em 3em #100d0b;
    display: flex;
    justify-content: center;
    align-items: center;
}