:root {
  --font-mono:'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --main-gradient: linear-gradient(
    to right bottom,
    #af794f,
    #62442c
  )
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url('../public/pegboard.png');
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
