.main {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: 6rem;
  width: 100%;
  background-image: url('../public/pegboard_bg.png');
  background-size: cover;
}